<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='utf-8'>
        <title>History</title>
        <style>
            div { border: 1px solid black; padding: 10px; }
        </style>
    </head>

    <body>
        <h1>History</h1>
        <div>
            <label>
                Enter Prompt Below: <br>
                <textarea name="background" rows="5" cols="70"></textarea>
            </label>            
        </div><br>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
    </body>
</html>