<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='utf-8'>
        <title>Text Suggest</title>
        <style>
            div { border: 1px solid black; padding: 10px; }
        </style>
    </head>

    <body>
        <h1>Text-Suggest (CMSC335 Final Project)</h1>
        <ul>
            <!-- link to apply.html -->
            <li>Click here to go to Input Page: <a href="input">Input</a></li>
            <li>Click here to go to History Page: <a href="history">History</a></li>
        </ul>
        <hr>
    </body>
</html>