<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
</head>
<body>
    <h1>Welcome to Terps Summer Camp</h1>
    <h2>Applicant</h2>
    <ul>
        <!-- link to apply.html -->
        <li>Click to go to Input Page: <a href="input">Input</a></li>
        <li>Click to go to History Page: <a href="history">History</a></li>
    </ul>
    <hr>
    <hr>
</body>

</html>