<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='utf-8'>
        <title>Input Page</title>
        <style>
            div { border: 1px solid black; padding: 10px; }
        </style>
    </head>

    <body>
        <h1>Input Page</h1>
        <form method="post">
            <div>
                <label>
                    Enter Prompt Below: <br>
                    <textarea name="prompt" rows="5" cols="70"></textarea>
                </label>            
            </div><br>
            <input type="reset" value="Reset">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>