<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='utf-8'>
        <title>Text Suggest</title>
        <style>
            div { border: 1px solid black; padding: 10px; }
        </style>
    </head>

    <body>
        <h1>Input: </h1>
        <%- input %>

        <h1>Output: </h1>
        <%- output %>
        
    </body>
</html>