<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='utf-8'>
        <title>History</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
    <h1>History</h1>
        <div class="boxed">
            <h2>Table</h2>
            <p><%- ans %></p>
        </div>
    </body>
</html>