<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="css/style.css">
        <meta charset='utf-8'>
        <title>Text Suggest</title>
        <style>
            div { border: 1px solid black; padding: 10px; }
        </style>
    </head>

    <body>
        <div>
            <h2>Input</h2>
            <p><%= prompt %></p>
        </div>

        <div>
            <h2>Output</h2>
            <p><%= result %></p>
        </div>
    </body>
</html>